{% extends 'base.html' %}

{% block title %}
<title>hub-ology: Page Not Found</title>
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<div class="container_12">
<article class="grid_10 prefix_1">
   <img src="/static/oak.png">
</article>

<article class="grid_10 prefix_1">
   <h1>We're rural but not that rural.</h1>
   <h3> That link is way out yonder somewhere.</h3>
   <div>
       <p>Be sure you typed the address correctly.</p>
   </div>
    
</article>
</div>

{% endblock %}
