{% extends 'base.html' %}

{% block title %}
<title>hub-ology: Page Not Found</title>
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<div id="header" class="row">
	<div class="span8 columns offset4">
	   <img src="/static/oak.png">
	</div>
</div>
<div class="row">
	<div class="span10 columns offset3">
	   <h1>We're rural but not that rural.</h1>
	   <h3>That link is way out yonder somewhere.</h3>
	   <div>
	       <p>Please be sure you typed the address correctly.</p>
	   </div>    
	</div>
</div>

{% endblock %}
