{% extends 'base.html' %}

{% block title %}
<title>hub-ology went BOOM!</title>
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<div id="header" class="row">
	<div class="span15 columns offset1">
	   <img src="/static/boom.png">
	</div>
</div>
<div class="row">
	<div class="span15 columns offset1">
	   <h1>That's not the kind of fireworks we wanted...</h1>
	   <h3>Something unexpected happened and we need to fix it.</h3>
	   <div>
			<br>
			<p>You can help us out by creating a <a href="https://bitbucket.org/hubology/hub-ology/issues/new" target="_blank">new issue</a> for it.</p>
			<p>If this problem persists, go harass <a href="https://twitter.com/#!/hubology" target="_blank">@hubology</a> on twitter.</p>
	   </div>    
	</div>
</div>

{% endblock %}
