{% extends "subpage.html" %}

{% block header %}
<div id="container" class="container_12 clearfix">						
	<div id="intro" class="grid_12 intro">
		<h1>The <a href="/">hub-ology</a> logo comes from small towns</h1>
	</div>
</div>
{% endblock %}

{% block content %}
<div id="container" class="container_12">
  <div id="nav">
	<div class="grid_5 about">
		<iframe width="400" height="450" frameborder="0" scrolling="no"
				marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Spartanburg,+SC&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=52.240038,63.369141&amp;ie=UTF8&amp;hq=&amp;hnear=Spartanburg,+South+Carolina&amp;ll=34.964748,-81.899643&amp;spn=0.253219,0.273972&amp;z=11&amp;iwloc=&amp;output=embed">
		</iframe>
	</div>
	<div class="grid_7">
	  <a href="/about-logo"><img src="static/logo-mid-size.png" alt="hub-ology logo"></a>
	</div>
	<div class="clear"></div>
	<div class="grid_11">
		<br>
		<p>
			The hub-ology logo is based on
			<a href="http://2010.census.gov/2010census/data/" target="_blank">2010 census data</a>
			for towns in Spartanburg County, SC.
			Each circle (<a href="http://en.wikipedia.org/wiki/Vertex_(graph_theory)" target="_blank">node</a>)
			in the logo (<a href="http://en.wikipedia.org/wiki/Graph_(mathematics)" target="_blank">graph</a>)
			represents the population of a town in the data set.
			The lines (<a href="http://en.wikipedia.org/wiki/Edge_(graph_theory)" target="_blank">edges</a>)
			connecting the circles are based on the distance (in miles) from the center circle
			(the city of Spartanburg).  The colors for the circles come from the
			<a href="http://www.colourlovers.com/palette/3263/American_Flag" target="_blank">American Flag</a>.
			Inspired by <a href="http://en.wikipedia.org/wiki/Daniel_Morgan" target="_blank">Daniel Morgan</a>
			and <a href="http://en.wikipedia.org/wiki/Daniel_Morgan#The_Battle_of_Cowpens" target="_blank">
			The Battle of Cowpens</a>, hub-ology hopes to help create many new important moments that originate in 
			small towns.
		</p>
		<br>
		<p>
			The logo was created using the <a href="http://python.org" target="_blank">Python</a>
			Programming Language and a collection of really useful modules.	
			<a href="http://networkx.lanl.gov/" target="_blank">networkx</a> was used to construct
			the graph based on the census data.  
			<a href="http://matplotlib.sourceforge.net/" target="_blank">matplotlib</a> was used to plot
			the graph and to generate the image output.  <a href="http://www.geopy.org/" target="_blank">geopy</a> was used to calculate 
			the distances between the towns.
		</p>
		<br>		
		<p>
			The source code for the logo maker can be found below:
		</p>
		<br>
	</div>
	<div class="clear"></div>
	<div class="grid_11">
		<script src="https://bitbucket.org/hubology/hub-ology/src/b43956353414/misc/logo_maker.py?embed=t"></script>
	</div>
	
  </div>
</div>
{% endblock %}