{% extends "base.html" %}

{% block header %}
<div id="header" class="row">
	<div class="span4 columns">
	  <a href="/"><img src="static/hub-ology-logo-small.png" alt="hub-ology logo"></a>
	</div>
	<div id="menu-detail" class="span12 columns">
		<p>
		<a class="red_link" href="/">hub-ology</a> connects 
		<a href="/developers">developers</a> with <a href="/designers">designers</a>
		<br>
		[
		<a href="/educators">educators</a>
		<a href="/mentors">mentors</a>
		]
		</p>
  	</div>		
</div>
{% endblock %}

{% block content %}

<div class="row">
	<div class="span16 columns intro">
		<h1><a href="/designers">designers</a> make it attractive and useable</h1>
		<h3><a href="/developers">software developers</a> need <a href="/designers">designers</a>
			to make world-class products</h3>
	</div>
</div>
<div class="row">
	<div class="span3 columns">
		<div class="thought_circle">
			<h2>UI</h2>
			<p>People are drawn to apps with the best <a href="http://en.wikipedia.org/wiki/User_interface" target="_blank">User Interfaces</a>.  Help rural <a href="/developers">developers</a> make their UI rock.</p>
		</div>
	</div>
	<div class="span2 columns bottom_aligned">
		<div class="small_blue_thought_circle"></div>
	</div>		
	<div class="span3 columns">
		<div class="thought_circle">
			<h2>Graphics</h2>
			<p>Help applications stand out by providing super cool graphics</p>
		</div>
	</div>
	<div class="span2 columns bottom_aligned">
		<div class="small_blue_thought_circle">
		</div>
	</div>		
	<div class="span3 columns">
		<div class="thought_circle">
			<h2>Swagger</h2>
			<p>Tough to describe. You know it when you see it.  Help a small town business get swagger</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="span14 columns page_detail">
		<p>Making applications easy to use while still being visually appealing is no small task.
		   Do you wake up in the morning pumped up about HTML5, CSS and JavaScript?
		   Do you keep working until everything is pixel perfect?  
		   If so, rural software developers can use your help.  Connect with developers 
		   in your area to make something great!
		</p>
		<p>
			<br>
			Ready to make it shine? <a href="">Sign up</a> to be a hub-ology designer.
		</p>
	</div>
</div>
{% endblock %}