{% extends "subpage.html" %}

{% block header %}
<div id="header" class="row">
	<div class="span4 columns">
	  <a href="/"><img src="static/hub-ology-logo-small.png" alt="hub-ology logo"></a>
	</div>
	<div id="menu-detail" class="span12 columns">
		<p>
		<a class="red_link" href="/">hub-ology</a> connects <a href="/educators">educators</a>
		with <a href="http://en.wikipedia.org/wiki/Computer_science" target="_blank">computer science</a>
		<br>
		[
		<a href="/developers">developers</a>
		<a href="/designers">designers</a>		
		<a href="/mentors">mentors</a>
		]
		</p>
  	</div>		
</div>
{% endblock %}

{% block content %}

<div class="row">
	<div class="span16 columns intro">
		<h1><a href="http://en.wikipedia.org/wiki/Computer_science" target="_blank">computer science</a> woven into K-12 education</h1>
		<h3>Enhance your classroom with <a href="">open source software</a> and computer science</h3>
	</div>
</div>
<div class="row">
	<div class="span3 columns">
		<div class="thought_circle">
			<h2><a href="#">Art</a></h2>
			<p><a href="http://nodebox.net/code/index.php/Gallery">NodeBox</a> makes cool art while 
			   introducing students to computer programming</p>
		</div>
	</div>
	<div class="span2 columns bottom_aligned">
		<div class="small_blue_thought_circle"></div>
	</div>		
	<div class="span3 columns">
		<div class="thought_circle">
			<h2><a href="#">Music</a></h2>
			<p>Make music with <a href="http://code.google.com/p/mingus/" target="_blank">mingus</a>.
			   Ask questions about music with <a href="http://mit.edu/music21/">music21</a></p>
		</div>
	</div>
	<div class="span2 columns bottom_aligned">
		<div class="small_blue_thought_circle">
		</div>
	</div>		
	<div class="span3 columns">
		<div class="thought_circle">
			<h2><a href="#">Creative Writing</a></h2>
			<p>Get really creative by <a href="http://rwet.decontextualize.com/" target="_blank">writing code</a> to write for you</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="span3 columns">
		<div class="thought_circle">
			<h2><a href="#">Science</a></h2>
			<p>Simulate dangerous, expensive, and time consuming experiments.
			<a href="http://matplotlib.sourceforge.net/" target="_blank">matplotlib</a> it!</p>
		</div>
	</div>
	<div class="span2 columns bottom_aligned">
		<div class="small_blue_thought_circle">
		</div>
	</div>		
	<div class="span3 columns">
		<div class="thought_circle">
			<h2><a href="#">Math</a></h2>
			<p>Explore a huge range of mathematics with <a href="http://sagemath.org/" target="_blank">sage</a></p>
		</div>
	</div>	
	<div class="span2 columns bottom_aligned">
		<div class="small_blue_thought_circle">
		</div>
	</div>		
	<div class="span3 columns">
		<div class="thought_circle">
			<h2><a href="#">Literature</a></h2>
			<p> Enhance english classes by working with the <a href="http://www.nltk.org/book" target="_blank">Natural Language Toolkit</a></p>
		</div>
	</div>	
</div>
<div class="row">
	<div class="span14 columns page_detail">
		<p>
			Some of the best teachers work in a small town.  We want to connect these
			teachers with <a href="/developers">software developers</a> in their area to help them
			weave computer science into their courses.  We believe that early exposure to computer science
			will create more deep thinkers to help solve the tough problems facing the world today.
		</p>
		<p>
			<br>
			Ready to get started? <a href="">Sign up</a> to be a hub-ology educator.
		</p>
	</div>
</div>
{% endblock %}