{% extends "base.html" %}

{% block content %}
<div id="main" role="main">
	<div id="container" class="container_12 clearfix">						
		<div id="intro" class="grid_12 intro">
			<h1><a href="/about">hub-ology</a> promotes big tech in small towns</h1>
			<h3>Got an idea to make it better? The <a href="https://bitbucket.org/hubology/hub-ology">code</a> is open source.</h3>
		</div>

		<div class="grid_3 clearfix">
			<div class="thought_circle">
				<h2><a href="/inspire">Inspire</a></h2>
				<p>New Ideas, <br/>New Technology, New Computer Scientists</p>
			</div>
		</div>
		<div class="grid_1 bottom_aligned">
			<div class="small_blue_thought_circle">
			</div>
		</div>		
		<div class="grid_3">
			<div class="thought_circle">
				<h2><a href="/educate">Educate</a></h2>
				<p>Work with local educators to weave computer science into existing course work</p>
			</div>
		</div>
		<div class="grid_1 bottom_aligned">
			<div class="small_blue_thought_circle">
			</div>
		</div>		
		<div class="grid_3">
			<div class="thought_circle">
				<h2><a href="/do">Do</a></h2>
				<p>Share Experience, Build Something, <br/>Start a Company, <br/>Give Back</p>
			</div>
		</div>		
	</div>
</div>
{% endblock %}