{% extends "base.html" %}

{% block content %}

	<div id="nav" class="row">						
		<div id="intro" class="span16 intro">
			<h1><a href="/about">hub-ology</a> promotes big tech in small towns</h1>
			<h3>Want to get involved? 
				<a href="/sign-in">Sign in</a> to get started. The <a href="https://bitbucket.org/hubology/hub-ology">code</a> is <a href="http://en.wikipedia.org/wiki/Open_source" target="_blank">open source</a>, too.
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="span3 columns">
			<div class="thought_circle">
				<h2><a href="/inspire">Inspire</a></h2>
				<p>New Ideas, <br/>New Technology, New Software Developers</p>
			</div>
		</div>
		<div class="span2 columns bottom_aligned">
			<div class="small_blue_thought_circle">
			</div>
		</div>		
		<div class="span3 columns">
			<div class="thought_circle">
				<h2><a href="/educate">Educate</a></h2>
				<p>Work with local educators to weave computer science into existing course work</p>
			</div>
		</div>
		<div class="span2 columns bottom_aligned">
			<div class="small_blue_thought_circle">
			</div>
		</div>		
		<div class="span3 columns">
			<div class="thought_circle">
				<h2><a href="/do">Do</a></h2>
				<p>Share Experience, Build Something, <br/>Start a Company, <br/>Give Back</p>
			</div>
		</div>		
	</div>
{% endblock %}