{% extends 'authenticated-base.html' %}

{% block extrascripts %}
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript"
    src="/static/js/markerclusterer.js">
</script>
{% endblock %}

{% block content %}
{% endblock %}

{% block map %}
 <div id="map" style="vertical-align : middle; display : table-cell;"></div>
<script type="text/javascript">
	$("#map").height($(window).height());
	$("#map").width($(window).width());	
	$("#map").html("<h1 style='>Loading...</h1>");
		
	function process_location(position) {
	    var latitude = position.coords.latitude;
	    var longitude = position.coords.longitude;

		var latlng = new google.maps.LatLng(latitude, longitude);
		var myOptions = {
		  zoom: 12,
		  center: latlng,
		  panControl: false,
		  zoomControl: true,
		  zoomControlOptions: {
	        style: google.maps.ZoomControlStyle.LARGE,
	        position: google.maps.ControlPosition.LEFT_CENTER
		  },	
		  mapTypeControl: true,
	   	  mapTypeControlOptions: {
		    style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
		    position: google.maps.ControlPosition.BOTTOM_CENTER
		  },	
		  mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map"), myOptions);

	      // Monitor the window resize event and let the map know when it occurs
	      if (window.attachEvent) { 
	        window.attachEvent("onresize", function() {
				$("#map").height($(window).height());
				$("#map").width($(window).width());	
			} );
	      } else {
	        window.addEventListener("resize", function() {
				$("#map").height($(window).height());
				$("#map").width($(window).width());					
			} , false);
	      }
	
		//Construct markers and a MarkerClusterer
		var markers = [];
		
		$.ajax({
		  url: "http://"+window.document.location.host+"/people/json",
		  success: function(data) {	
			var jsonData = jQuery.parseJSON(data);
			console.log(jsonData);
						
			if ( jsonData.people ) {
				jQuery.each(jsonData.people, function(i, person) {
					if ( person.location ) {
						var contentString = '<div id="content">'+
						    '<img src="'+person.profile_image_url+'">' +
							'<h3><a href="'+ person.link +'" target="_blank">'+ person.name +'</a></h3>' +
						    '<div id="bodyContent">'+
						    '<p>'+ (person.classification ? person.classification : '') +'</p>'+						    
						    '</div>'+
						    '</div>';

						var infowindow = new google.maps.InfoWindow({
						    content: contentString
						});		

						var marker = new google.maps.Marker({
						           position: new google.maps.LatLng(person.location.lat, person.location.lng),
								   title: person.name
						          });
			        	markers.push(marker);
						google.maps.event.addListener(marker, 'click', function() {
						  infowindow.open(map,marker);
						});
					}
				});
			}
			markerClusterer = new MarkerClusterer(map, markers);
				
			}					  
		});
		

				
		
	}
	
	get_location(process_location,
			//the error callback
			function (error)
			{
				switch(error.code) 
				{
					case error.TIMEOUT:
						alert ('Timeout');
						break;
					case error.POSITION_UNAVAILABLE:
						alert ('Current position unavailable');
						break;
					case error.PERMISSION_DENIED:
						alert ('Permission denied');
						break;
					case error.UNKNOWN_ERROR:
						alert ('Unknown error');
						break;
				}
				//Default to Spartanburg, SC
				process_location({'coords':{'latitude': 34.9494444, 'longitude': -81.9322222}})
			}, {'timeout':5000});
			
  </script>
{% endblock %}


