{% extends "subpage.html" %}

{% block header %}
<div id="container" class="container_12">
  <div id="nav">
	<div class="grid_2">
	    <header>
		  <a href="/"><img src="static/hub-ology-logo-small.png" alt="hub-ology logo"></a>
	    </header>
	</div>
	<div class="grid_10">
	    <nav>
			<ul>
				<li>experience</li>
				<li>their</li>
				<li>share</li>
				<li><a href="/mentors">mentors</a></li>
				<li>helps</li>
				<li><a class="red_link" href="/">hub-ology</a></li>
		    </ul>
			<ul>
				<li><a href="/designers">designers</a>]</li>
				<li><a href="/educators">educators</a></li>
				<li>[<a href="/developers">developers</a></li>
			</ul>		
	    </nav>
	</div>
  </div>		
</div>
{% endblock %}

{% block content %}

<div id="main" role="main">
	<div id="container" class="container_12 clearfix">						
		<div class="grid_12 intro">
			<h1><a href="/mentors">mentors</a> help ideas become reality</h1>
			<h3>Connect with aspiring tech entrepreneurs in a small town near you</h3>
		</div>

		<div class="grid_3">
			<div class="thought_circle">
				<h2><a href="#">Business</a></h2>
				<p>How do I get started? Is this a good business model?</p>
			</div>
		</div>

		<div class="grid_1 bottom_aligned">
			<div class="small_blue_thought_circle">
			</div>
		</div>		

		<div class="grid_3">
			<div class="thought_circle">
				<h2><a href="#">Financial</a></h2>
				<p>Where should I bank?  What records do I need to keep?</p>
			</div>
		</div>
		<div class="grid_1 bottom_aligned">
			<div class="small_blue_thought_circle">
			</div>
		</div>		

		<div class="grid_3 clearfix">
			<div class="thought_circle">
				<h2><a href="#">Legal</a></h2>
				<p>How do I incorporate? What paperwork do I need to file?</p>
			</div>
		</div>

		<div class="clear"></div>
		
		<div class="grid_9 prefix_1 page_detail">
			<p>
				It takes more than a great idea to make a business.  Aspiring entrepreneurs need encouragement,
				constructive criticism, guidance, and, sometimes, someone to just listen.  In a rural area, people 
				are more distributed and it can be tough to find a good mentor with the right mix of experience to 
				help get an idea off the ground.  Have you run a small business?  Are you a retired executive that
				is willing to share leadership experience?  If this sounds like you, small town entrepreneurs could use 
				your help.
			</p>
			<p>
				<br>
				<a href="">Sign up</a> to be a hub-ology mentor.
			</p>
		</div>
	</div>
</div>
{% endblock %}