{% extends 'authenticated-base.html' %}

{% block content %}

<div class="row topbar_content">
	<div class="span12 columns offset2">
		<h2>hub-ology members</h2>
		<div class="pagination">
		        <ul>
		          <li class="prev"><a href="#">← Previous</a></li>
		          <li><a href="#">10</a></li>
		          <li><a href="#">11</a></li>
		          <li><a href="#">12</a></li>
		          <li><a href="#">13</a></li>
		          <li><a href="#">14</a></li>
		          <li class="active"><a href="#">15</a></li>
		          <li><a href="#">16</a></li>
		          <li><a href="#">17</a></li>
		          <li><a href="#">18</a></li>
		          <li><a href="#">19</a></li>
		          <li class="next"><a href="#">Next →</a></li>
		        </ul>
		      </div>		
	</div>
</div>

<div class="row">
	<div class="span12 columns offset2">
		<table class="zebra-striped">
	        <thead>
	          <tr>
				<th></th>
	            <th>Name</th>
	            <th>Location</th>
	            <th>Member Type</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
				<td>
					<a href="{{ current_user.link }}" target="_blank">
						<img src="{{ current_user.profile_image_url }}">
					</a>
				</td>
	            <td>
					<a href="{{ current_user.link }}" target="_blank">
						Someone
					</a>
				</td>
	            <td>Clifton, SC</td>
	            <td>Developer</td>
	          </tr>
	          <tr>
				<td>
					<a href="{{ current_user.link }}" target="_blank">
						<img src="{{ current_user.profile_image_url }}">
					</a>
				</td>
	            <td>Someone</td>
	            <td>Clifton, SC</td>
	            <td>Mentor</td>
	          </tr>
	          <tr>
				<td>
					<a href="{{ current_user.link }}" target="_blank">
						<img src="{{ current_user.profile_image_url }}">
					</a>
				</td>
	            <td>Someone</td>
	            <td>Clifton, SC</td>
	            <td>Educator</td>
	          </tr>

	        </tbody>
	      </table>
	</div>
</div>

<div class="row">
	<div class="span12 columns offset2">
		<div class="pagination">
		        <ul>
		          <li class="prev"><a href="#">← Previous</a></li>
		          <li><a href="#">10</a></li>
		          <li><a href="#">11</a></li>
		          <li><a href="#">12</a></li>
		          <li><a href="#">13</a></li>
		          <li><a href="#">14</a></li>
		          <li class="active"><a href="#">15</a></li>
		          <li><a href="#">16</a></li>
		          <li><a href="#">17</a></li>
		          <li><a href="#">18</a></li>
		          <li><a href="#">19</a></li>
		          <li class="next"><a href="#">Next →</a></li>
		        </ul>
		      </div>		
	</div>
</div>

<script>
$(document).ready(function() {

});
</script>

{% endblock %}

