{% extends "base.html" %}

{% block content %}
<div class="row">
	<div id="intro" class="span12 columns intro">
		<h3>Sign In with you favorite account
		</h3>
	</div>
</div>
<div class="row">
	<div class="span4 columns">
		<form action="/twitter-login" method="post">
		   <div id='submit'>
		        <input type="submit" class="btn" value="Login with Twitter" />
		   </div>
		 </form>
	</div>
	<div class="span4 columns">
		<form action="/facebook-login" method="post">
		   <div id='submit'>
		        <input type="submit" class="btn" value="Login with Facebook" />
		   </div>
		 </form>
	</div>
	<div class="span4 columns">
		<form action="/linkedin-login" method="post">
		   <div id='submit'>
		        <input type="submit" class="btn" value="Login with LinkedIn" />
		   </div>
		 </form>
	</div>
</div>
{% endblock %}
