{% extends "base.html" %}

{% block header %}
<div id="container" class="container_12">
  <div id="nav">
	<div class="grid_2">
	    <header>
		  <a href="/"><img src="static/hub-ology-logo-small.png" alt="hub-ology logo"></a>
	    </header>
	</div>
	<div class="grid_10">
	    <nav>
			<ul>
				<li><a href="/technologists">computer science</a></li>
				<li>connects</li>
				<li class="red_color">hub-ology</li>
				<li><a href="/mentors">mentors</a></li>
				<li><a href="/educators">educators</a></li>
		    </ul>
	    </nav>
	</div>
  </div>		
</div>
{% endblock %}