<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">	
<title>hub-ology</title>
<meta charset="UTF-8">

<!--[if lt IE 9]>
<script>
// we use some new HTML tags - make them work in IE<9 - hrrmphf
var e = ("abbr,article,aside,audio,canvas,datalist,details,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video").split(',');
for (var i = 0; i < e.length; i++) {
	document.createElement(e[i]);
}
</script>
<![endif]-->
<link type="text/css" rel="stylesheet" href="./index_files/style.css">
<style>
.column {
	float: left;
	width: 50%; }
h2 {
	clear: both; }
.arrow { 
	vertical-align: top;
	padding-top: 100px; }
#rightarrow {
	text-align: left; }
#interestingcontainer {
	margin-top: 30px;
	width: auto; 
	border: 0; }
</style>
<script src="./index_files/interesting.js"></script></head>

<body>
    <header>
		<a href="/" id="logo">hub-ology</a>
		
<nav>
	<ul>
		</li><li><a href="/technologists">technologists</a>
		<li> <a href="/educators">educators</a>
		</li><li> <a href="/mentors">mentors</a>
		</li><li><a href="/about">about</a></li>
    </ul>
</nav>
	</header>

<p class="summary"><a href="/about">hub-ology</a> promotes big tech in small towns.</p>
The <a href="https://bitbucket.org/hubology/hub-ology">hub-ology code</a> is open source, too.
<ul class="even-columns keypoints">
  <li><strong><a href="/inspiration">Inspire.</a></strong><br>Big Ideas, New Technology, Start Ups
  </li><li><strong><a href="/education">Educate.</a></strong><br>Tutorials, Videos, Books, Research Papers
  </li><li><strong><a href="/do">Do.</a></strong><br>Make the Web Better, Write an App, Start a Company, Give Back
</li></ul>



</body></html>